/.venv
/.DS_Store
/predictions_r/.DS_Store
Data/.DS_Store
/__pycache__
/getdata_python/__pycache__
/predictions_r/__pycache__
/.idea
/.vscode
/getdata_python/.ipynb_checkpoints
/**.csv
/getdata_python/**.csv
/**.Rdata
/predictions_r/**.rda
.Rhistory
**.Rproj
.Rproj.user