/.venv
/.DS_Store
/__pycache__
/.idea
/.vscode
/.ipynb_checkpoints
/sql_database/
sql_database.py
Data/.DS_Store
Data/Macrodata/**
Data/Microdata/**
Data/Masterdata/**
Data/verkregen
/**.csv
.Rproj.user
**.Rproj