/.venv
/.DS_Store
/__pycache__
/.idea
/.vscode
/.ipynb_checkpoints
/.sql_image
/predictions_r/.DS_Store
sql_database.py
Data/.DS_Store
/**.csv
/**.Rdata
**.Rproj
.Rproj.user
/getdata_python/.ipynb_checkpoints
/getdata_python/**.csv
/getdata_python/__pycache__